
<!DOCTYPE html>
{% load static %}

<html lang="en">
<meta charset="utf-4">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <body>
    {% if user.is_authenticated %}
        <div class="page-container">
            <h2 class="top-menu">Hello {{ user.username }},</h2>
            <p>Please choose from options below.</p>
        </div>
    {% else %}
        <p>Insert login button here</p>
    {% endif %}
    <div class="content container">
        <!-- Example row of columns using cards for alignment
             The value of 'col-md-x' for all columns in the row must add up to 12
             This page has 3 columns, each column uses col-md-4, for a total of 12 -->
        <div class="row">
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cart</h5>
                        <p><a class="btn btn-primary" href="{% url 'mavSlice:Cart' %}"
                              role="button">View Cart &raquo;</a></p>
                    </div>
                </div>
            </div>

           <div class="col-md-4 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Menu</h5>
                        <p class="card-text">Great Healthy Menu Items!</p>
                        <p><a class="btn btn-primary" href="{% url 'mavSlice:Menu' %}"
                              role="button">View Menu &raquo;</a></p>
                    </div>
                </div>
            </div>

             <div class="col-md-4 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Menu</h5>
                        <p class="card-text">Great Healthy Menu Items!</p>
                        <p><a class="btn btn-primary" href="{% url 'mavSlice:home' %}"
                              role="button">View Home &raquo;</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </body>

</html>