{% extends "mavSlice/base.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}
<link rel="stylesheet" href="{% static "css/stylesheet.css" %}">
{% block content %}
  <h1>Your Cart</h1>

  <table class="cart">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Unit price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url "mavSlice:cart_add" product.product_id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url "mavSlice:cart_remove" product.product_id %}">Remove</a></td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>

    <style>
      table{
        width:150%;
        border-spcaing:0;
        border-collapse: collapse;
    }
    table th, table td{
        text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
    }

    tbody tr:nth-child(odd) {
    background:#efefef;}

    thead th, tbody tr.total{
        background:lightblue;
        color:#fff;
        font-weight:bold;

    }

    table.cart{
        margin-bottom:40px;
    }
    table.cart img{
        width:180px;
    }

    tbody td.num{
        text-align:right;
    }
    td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;}

    h1{
        padding:10px 100px;
        font-size:30px;
        overflow:auto;
        font-family: 'Ubuntu', sans-serif;
        float:right;
        color:#333;


    }

    .button3{
        position:absolute;
        text-align: center;
    top:95%;
    left:10%;
    tranform:translate(-50%, -50%);
    background-color: palegoldenrod;
    width:100px;
    position:absolute;
    height:50px;
    border-radius:40px;
    border:2px; solid:#A2D9CE;
    transition: background-color 1s
    }

    .button3:hover{
    background-color: #A2D9CE;
}
    .button4{
        position:absolute;
        text-align: center;
    top:95%;
    left:120%;
    tranform:translate(-50%, -50%);
    background-color: palegoldenrod;
    width:100px;
    position:absolute;
    height:30px;
    border-radius:40px;
    border:2px; solid:#A2D9CE;
    transition: background-color 1s;

    }
    .button4:hover{
    background-color: #A2D9CE;

}

    </style>

    <a href="{% url "mavSlice:Menu" %}"
      <button class="button3">Continue shopping </button></a>
    <a href="{% url "mavSlice:order_create" %}"
      <button class="button4">Checkout</button>
      
    </a>

{% endblock %}