{% extends "mavSlice/base.html" %}

{% block body %}
    {% if price_all == 0 %}
        <h1>You don't have anything in cart</h1>
    {% else %}
        <div class="col-12">
            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                {% if Product %}
                    {% for product in products %}
                        <tr>
                            <td>{{ product }}</td>
                            <td>{{ product.price }} USD</td>
                        </tr>
                    {% endfor %}
                {% endif %}




            </table>
            <h4 style="text-align:center">Overall price: {{ order_price }} USD</h4>
            <div class="mt-2 col-md-12"></div>
            <div class="mt-2 col-md-12"></div>

            <div style="text-align: center;">
                <a href="{% url "" %}"><input class="btn btn-success btn-lg btn-block" type="button" value="Check Out">
                </a>
            </div>

            <div class="mt-2 col-md-12"></div>
            <div class="mt-2 col-md-12"></div>

            <div style="text-align: center;">
                <a href="{% url "" %}"><input class="btn-outline-danger btn-sm" type="button" value="Delete order">
                </a>
            </div>


        </div>


    {% endif %}
{% endblock %}
