<!DOCTYPE html>
<html lang="en">
{% extends 'mavSlice/base.html' %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}">
</head>
<body>

    <div class="container">
        {% if user.is_authenticated %}

            <h2 class="top-menu">Welcome to mavSlice {{ user.username }},</h2>

        {% else %}
            <p>Welcome to mavSlice Guest.</p>
        {% endif %}
    </div>
            <br>
            <br>

     <div class = "container5">
         <a href="{% url 'mavSlice:slice_Menu' %}">
                    <button class="btn5">Order Slice</button>
     </a>

      <a href="{% url 'mavSlice:Menu' %}">
                    <button class="btn6">Order Whole</button>
      </a>
     </div>

    <div class = "box">
        <div class="container1">
                    <img src="{% static "images/pizza.jpeg" %}" alt="pizza">
                    <a href="{% url 'mavSlice:Menu' %}">
                        <button class="btn1">Order Now !!</button>
                    </a>

        </div>


        <div class="container2">
                    <img src="{% static "images/pizza1.jpeg" %}">
                    <a href="{% url 'mavSlice:Menu' %}">
                        <button class="btn2">Order Now !!</button>
                    </a>

        </div>


    </div>




            <br>
            <br>
            <div class="container3">
                <h3>About US</h3>
                <p>mavSlice is a local pizza restaurant available on the campus. We love being the part of the campus and appreciate all our loyal customers. We use fresh ingredients to make our pizzas.</p>
            </div>

            <div class=" container4">

                <img src="{% static "images/img4.jpg" %}">

                <div class ="small">
                    <p>Get delicious fresh pizaa in a reasonable prices</p>

                    <p>

                        <a href="{% url 'mavSlice:Menu' %}">
                    <button class="btn3">Order Now!!</button>
                        </a>

                    </p>
            </div>

            </div>














</body>
{% endblock %}
</html>