<!DOCTYPE html>
<html lang="en">
{% extends 'mavSlice/base.html' %}
{% block content %}
{% load static %}
<style> body { background-color: beige; } </style>
<h1>MavSlice Whole Pizzas</h1>

    <div class="row" style="height:200px ; width:3000px;">
        <div class="col-md-4 d-flex align-items-stretch">
            {% for product in products %}
                <div class="card" style="width:1000rem ; height:10rem;">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}
                                  {% static "css/images/supreme.jpeg" %}{% endif %}" class="card-img-top">
                                        <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <h5 class="card-type">{{ product.type }}</h5>
                                        <p><a class="btn btn-primary" href="{{ product.get_absolute_url }}"
                                                    role="button">Add to cart &raquo;</a></p>
                                        </div>
                </div>
            {% endfor %}
            </div>

    </div>
{% endblock %}
</html>