body {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    font-size: 13px;
}

.nav-item{


}
.btn{
    button-color: #0000CD;

}
.btn:hover{
    background-color: #A2D9CE;}

.navbar {
    padding-left:10px;
    padding-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0px;
    border-radius: 0;
    color: #d9181d;
    font-size: xx-large;
    width: 100%;

}

.nav-link:hover{
    color: cornflowerblue;
    cursor: pointer;
}


.row.div2{
    position:fixed;
    bottom: 99%;
}


.body_list {
     background-color: black;
}

h1 a {
    color: #d9181d;
    font-family: 'cursive';
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}
.row {
    padding-left: 50px;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    padding-left: 20px;
    background-color: black;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #d9181d;
    color: black;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 768px) {
    .container{
    padding: 2rem;}
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

/*.btn1{
    width:100px;
    position:absolute;
    height:50px;
    border-radius:20px;
    background-color: red;
    border:2px; solid:#A2D9CE;
    transition: background-color 1s
}
.btn1:hover{
    background-color: #A2D9CE;
}
.pizza img{
    width:100%;
    height: 230px;
}*/
/*divs home page*/
.box {
    width:130%;
    background-color:lightpink;
}
.container{
    width:150%;
    background-color:darkgoldenrod;
    text-align: center;
}
.container .h2{
    font-size: 14px;

}
.box .container1{
    float:left;
    width:49%;
    marign-right:2%;
    max-width: 400px;
}

.box .container2{
    float:right;
    width:49%;
    max-width: 400px;
}

.container3{
    clear:both;
    width:150%;
    background-color:lightpink;
    text-align: center;
    margin-bottom: auto;
}

.container4{
    clear:both;
    width:150%;
    text-align: center;
    margin-bottom: auto;}

.small {
    position: absolute;
    width:400px;
    padding:50px 20px;
    background-color:rgba(255,255,255,0.7);
    top:600px;
    left:16px;
    font-size: 25px;
}
.small .btn3{
    position:absolute;
    tranform:translate(-50%, -50%);
    background-color:darkred;
    border:2px; solid:#A2D9CE;
    transition: background-color 1s;
    right:35%;


}
.small .btn3:hover{
    background-color: yellow;
}
/*.container4 .small .p
    {
    font-size:12px;
    color:#666;
    width:300px;
    height:30%;
    margin-bottom:15px;
    padding: 6px 12px;
    border:0;
    background:white;
    color:#666;
    border-radius:5px;
}
*/






/*images*/
.container2 img{
    width:350px;
    height:350px;
}

.container1 img{
    width:350px;
    height:350px;
}

.container4 img{
    width:100%;
    max-height:475px;
}

/*container btn*/
.container1 .btn1{
    position:absolute;
    top:35%;
    right:85%;
    tranform:translate(-50%, -50%);
    background-color: palegoldenrod;
    width:100px;
    position:absolute;
    height:50px;
    border-radius:20px;
    border:2px; solid:#A2D9CE;
    transition: background-color 1s
}
.container1 .btn1:hover{
    background-color: #A2D9CE;
}


.container2 .btn2{
    position:absolute;
    top:35%;
    left:80%;

    tranform:translate(-50%, -50%);
    background-color: palegoldenrod;
    width:100px;
    position:absolute;
    height:50px;
    border-radius:20px;
    border:2px; solid:#A2D9CE;
    transition: background-color 1s
}
.container2 .btn2:hover{
    background-color: #A2D9CE;
}
.container5 .btn5{
    position:absolute;
    top:5%;
    left:70%;

    tranform:translate(-50%, -50%);
    background-color: darkred;
    width:100px;
    position:absolute;
    height:30px;
    border-radius:20px;
    border:2px; solid:#A2D9CE;
    transition: background-color 1s;
}
.container5 .btn5:hover{
    background-color: yellow;
}
.container5 .btn6{
    position:absolute;
    top:5%;
    left:40%;

    tranform:translate(-50%, -50%);
    background-color: darkred;
    width:100px;
    position:absolute;
    height:30px;
    border-radius:20px;
    border:2px; solid:#A2D9CE;
    transition: background-color 1s;
}

.container5 .btn6:hover{
    background-color: yellow;
}


.container3 .h3{
    text-align: center;

}
/*check out*/
.order-info{
    float:right;
    width:300px;
    background:darkred;
    padding:10px 20px;
    color:black;
    border-bottom: 5px;
    solid:black;
}

.order-info h3{
    color:black;
}
.order-info ul li{
    margin:0;
    padding:0;
    font-size:15px;
}

.order-info p{
    font-weight:bold;
    float:right;

}
.order-info span{
    float:right;
}
from div.field{
    font-size:12px;
    color:#666;
    width:300px;
    height:25px;
    margin-bottom:15px;
    padding: 6px 12px;
    border:0;
    background:white;
    color:#666;
    border-radius:5px;
}
